/***************************************************************************************/
/***************************************************************************************/

/* Main Params */

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;

	background: #000;
	color: #fff;
	font-size: 12px;
	line-height: 22px;
	font-family: 'Lato', sans-serif; 
}

strong {
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: #fff;
}

a, button {
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}


h2, h3, h4, .pre-form-text {
	font-family: 'Maven Pro', sans-serif;
	font-weight: normal;
}

h2, h3 {
	font-size: 30px;
	margin-bottom: 5px;
}

h4, .pre-form-text {
	font-size: 18px;
	margin-bottom: 15px;
}

.pre-form-text {
	color: #bebebe;
}

ul {
	list-style: none;
}

.container {
	position: relative;
	width: 780px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@-webkit-keyframes scaleCat {
	0% 		{ padding: 90px 0 90px;
		  	  min-height: 600px; }
	100% 	{ padding: 120px 0 90px; 
			  min-height: 100vh;}
}

@keyframes scaleCat {
	0% 		{ padding: 90px 0 90px;
		  	  min-height: 600px; }
	100% 	{ padding: 120px 0 90px; 
			  min-height: 100vh;}
}
/***************************************************************************************/
/***************************************************************************************/

/* Header */

.main-header {
	width: 100%;
	background: #323232;
	position: fixed;
	z-index: 3;
}

.main-navigation-wrapper {
	width: 460px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
}

.menu {
	width: 180px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
}

.second-menu {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.logo {
	background: url('../img/logo.png') no-repeat center;
	-webkit-box-ordinal-group:2;
	    -ms-flex-order:1;
	        order:1; 
	position: relative;
	padding: 29px 50px 29px 50px;
 }

 .logo a {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 }

 .logo::after {
 	content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -73px; 
    border: 50px solid transparent; 
    border-top: 25px solid #323232; 
 }

.nav-menu-item a {
	padding: 30px 15px 20px;
	display: block;
}

.nav-menu-item a:hover,
.nav-menu-item a:active {
	color: #2fa28a;
}

/***************************************************************************************/
/***************************************************************************************/

/* Main Content */

.pictures-catalog {
	background: #fff;
	background-size: 100% 100%;
	padding: 120px 0;
}


.my-pics-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.my-pics-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}

.my-pics-row > div {
	margin-right: 20px;
}

.my-pics-row > div:last-child {
	margin-right: 0;
}

.first-row,
.second-row {
	margin-bottom: 20px;
}

.second-row {
	margin-left: -100px;
	margin-right: -100px;
}

.second-row,
.third-row {
	margin-top: -52px;
}

.hexagon {
	position: relative;
	width: 180px; 
	height: 103.92px;
	background-color: transparent;
	margin: -162px 0 51.96px;
}

.hexagon::before,
.hexagon::after {
	content: "";
 	position: absolute;
	width: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
}

.hexagon::before {
	bottom: 100%;
	border-bottom: 51.96px solid transparent;
}

.hexagon::after {
	top: 100%;
	width: 0;
	border-top: 51.96px solid transparent;

}

.hexagon:hover {
    background: rgba(0,0,0,0.4);
    cursor: pointer;
}

.hexagon:hover::before {
    border-bottom-color: rgba(0,0,0,0.4);
}

.hexagon:hover::after {
    border-top-color: rgba(0,0,0,0.4);
}

.about-me,
.get-in-touch {
	padding: 70px 0;
}

.about-me {
	background: #2eb398;
}

.about-me .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.my-photo {
	margin-right: 20px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.my-job {
	color: #20816d;
}

.social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}

.social-media-item {
	margin-right: 1px;
}

.social-media-item a {
	width: 24px;
	height: 24px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background: #a4dbd4;
	color: #04ac95;
}

.social-media-item a:hover,
.social-media-item a:active {
	background: #6ccbbe;
}

.get-in-touch {
	background: #323232;
}

.git-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wrapper-first-col {
	margin-right: 15px;
}

.git-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}

.git-form input,
.git-form .big-input {
	width: 560px;
	padding: 13px;
	margin-bottom: 15px;

	background: #454545;
	color: #fff;
	border: none;
}

.git-form .big-input {
	height: 130px;
	margin-bottom: 10px;
}

.git-form button {
	background: #2eb398;
	color: #fff;

	text-transform: uppercase;
	border: none;
	padding: 13px 30px;

	cursor: pointer;
}

.git-form button:hover {
	background: #454545;
	color: #2eb398;
}

.wrapper-second-col p {
	margin-bottom: 40px;
}

.my-contacts-item {
	margin-bottom: 3px;
	padding-left: 30px;
	position: relative;
}

.my-addsress::before,
.my-phone::before,
.my-email::before {
	content: '';
	position: absolute;

	width: 13px;
	height: 13px;

	top: 5px;
	left: 7px;
	background-position: center;
}

.my-addsress::before {
	background-image: url('../img/address.png');
}

.my-phone::before {
	background-image: url('../img/phone.png');
}

.my-email::before {
	background-image: url('../img/email.png');
}

/***************************************************************************************/
/***************************************************************************************/

/* Footer */

.main-footer {
	background: #222222;
	padding: 15px 0 15px 40px;
	color: #fff;
}

/***************************************************************************************/
/***************************************************************************************/

/* модалка */

.modal {
	position: fixed;
	
	top: 150px;
	left: 50%;
	margin-left: -260px;
	padding: 10px;

	background: #fff;

	z-index: 100;
	display: none;

	-webkit-box-shadow: 10px 30px 50px rgba(0,0,0,0.5);

	        box-shadow: 10px 30px 50px rgba(0,0,0,0.5);
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0,0,0,0.8);
	z-index: 99;

	display: none;
}

.modal-close {
	border: none;

	padding: 0;
	margin: 0;

	width: 22px;
	height: 22px;

	position: absolute;

	background: none;

	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	top: 0;
	right: -30px;
}
.modal-close:hover,
.modal-close:focus,
.modal-close:active {
	background: none;
}

.modal-close::before,
.modal-close::after {
	content: '';
	position: absolute;
	width: 19px;
	height: 3px;

	background: #fff;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 9px;
	left: 1px;
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-show {
	display: block;
}

/* псевдо линии для секция */

.get-in-touch .container::after,
.get-in-touch .container::before {
	content: '';
	position: absolute;

	margin: 0 auto;
	left: 0;

	background: #2b2b2b;

	width: 100%;
	height: 1px;
}

.get-in-touch .container::before {
	top: -55px;
}

.get-in-touch .container::after {
	bottom: -55px;
}

.about-me .container::before,
.about-me .container:after {
	content: '';
	position: absolute;

	margin: 0 auto;

	background: #219d84;

	width: 1px;
	height: 100%;
}

.about-me .container::before {
	left: 0;
}

.about-me .container::after {
	right: 0;
}

.pictures-catalog .container:after {
	content: '';
	position: absolute;

	margin: 0 auto;
	left: 0;

	background: #e4e9eb;

	width: 100%;
	height: 1px;
}

.pictures-catalog .container::after {
	bottom: -80px;
}

/* ТУПА ДЛЯ СКРИПТОФ */
.back_to_top {
	position: fixed;
    bottom: 60px;
    right: 50px;
    z-index: 9999;
    width: 30px;
	height: 30px;
	background: #454545;
	color: #2eb398;
	cursor: pointer;
	border-radius: 2px;
	display: none;

	text-align: center;
	font-size: 15px;
}

.back_to_top-show {
  	display: block;
}

.fullscr {
	min-height: 100vh;
	padding: 120px 0 90px;
	
	-webkit-animation-name: scaleCat;
	
	        animation-name: scaleCat;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}